/* For custom style choices */
/* Add or adjust banners for organization */

/* * * * * * * * * * * * * * * * * * * * * * * * *
    UTILITIES 
* * * * * * * * * * * * * * * * * * * * * * * * */
/* Screen Reader Only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    STRUCTURE 
* * * * * * * * * * * * * * * * * * * * * * * * */
body {
    background: url(../images/Omega_Nebula.jpg) center center fixed;
    background-size: cover;   /*fills the page */
    height: 2000px;
}


.lyric {
    border: 2px solid rgb(228, 228, 225);
    border-radius: 20px;
    corner-shape: bevel;
    width: fit-content;
    margin: 6rem auto;
    padding:1rem 4rem 2rem 3rem;

    /* block = top and bottom */
    margin-block:6rem;

    /* inline = left and right */
    margin-inline: auto;

    /* set individually */
    padding-block-start: 1rem;
    padding-block-end: 2rem;
    padding-inline-start: 4rem;
    padding-inline-end:3rem;

    background: #090979;
    background: radial-gradient(circle, rgb(229, 154, 4,0.1) 58%, rgb(0, 213, 255, 0.5) 100%);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    color: white;

    /* scoping abs position of astronaut */
    position: relative;

}



.astronaut {
 width: 150px;
 /* position: fixed;
 top: 30px;
 right: 30px;
 /* Challenge #2  upper left corner */
 /* position: absolute;
 top: 80px;
 left: 0; */ 
 /* Challenge #3 */
 position: absolute;
 bottom: -30px;
 right: -30px;
 z-index: -100;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    TYPOGRAPHY
* * * * * * * * * * * * * * * * * * * * * * * * */

.lyric-text {
    font-family: 'Jura', sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
    font-optical-sizing: auto;
    position: relative;
}


.lyric-text:before { /* adding quote */
    content: open-quote;
    position: absolute;
    top: -20px;
    left: -70px;
    color: rgb(0, 255, 247);
    font-size: 96px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.lyric-artist {
    font-family: 'Audiowide', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    
}

.lyric-artist:after {
    content: '\2B50';
}



/* * * * * * * * * * * * * * * * * * * * * * * * *
    LINKS
* * * * * * * * * * * * * * * * * * * * * * * * */




/* * * * * * * * * * * * * * * * * * * * * * * * *
    IMAGES
* * * * * * * * * * * * * * * * * * * * * * * * */




/* * * * * * * * * * * * * * * * * * * * * * * * *
    TABLES 
* * * * * * * * * * * * * * * * * * * * * * * * */