.container {
    width: 960px;
    margin: 100px auto;
}

.table-1 {
    margin-bottom: 4.0em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    TABLE CHALLENGE 1
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* styles the table tag with the ID "table-1" */
.table-1 {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid black;
}

.table-1 tr {
    margin-top: 2rem;
}

/* https://css-tricks.com/snippets/css/css3-zebra-striping-a-table/ */
.table-1 tr:nth-child(even) {
    background-color: #ecf0f1;
}

.table-1 td,
.table-1 th {
    font-family: Trebuchet, Helvetica, sans-serif;
}

.table-1 th {
    background-color: #E54439; 
    color: white;
    padding: 1rem;
    text-align: left;
}

.table-1 td {
    text-align: left;
    padding: 1rem;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    TABLE CHALLENGE 2
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* styles the table tag with the ID "table-2" */
.table-2 {
    table-layout: fixed;
    width: 35%;
    border-collapse: collapse;
}

.table-2 td,
.table-2 th {
    font-family: Trebuchet, Helvetica, sans-serif;
}

.table-2 th {
    background-color: #2ead62;
    color: white;
    text-align: right;
    padding: 1rem;
    border: 4px solid white;
}

.table-2 td {
    background-color: #ecf0f1;
    padding: 1rem;
    border: 4px solid white;
}